<header>
  <div class="logoDiv"><img src="images/logo.png" alt="company logo" class="logo"></div>
  <div class="OpenMenu">
    <i class="fa fa-bars" (click)="onClick()"></i>
  </div>
  <div class="menuItems" [ngClass]="{'active': active}">
    <a href="#about">About US</a>
    <a href="#industries">Industries</a>
    <a href="#paymentmethod">Payment Method</a>
    <a href="#features">Features</a>
    <a href="#contactus">Contact Us</a>
  </div>
  <div class="phoneDiv"><img src="images/phone_icon.png" alt="phone icon">+(972)722-159-030</div>
</header>
<div class="content_1">
  <div class="title">Enterprise Payment<br>Solution Gateway</div>
  <div class="subTitle">One seamlessly API gateway with over 100 payment methods</div>
  <div class="joinButton"><a href="#about">JOIN NOW</a></div>
</div>
<div class="content_2">
  <div class="text">
    <div class="title">
      WHO IS NETOPAYMENT
    </div>
    <hr>
    <div class="innertext">
      <div>
      <p>
        <span class="NetoPayment">NetoPayment</span> has been in the payment business for years and are well versed with typical issues merchants face on a daily basis. Mer-chants are continuously looking for better protection against fraud, seeking ways to limit chargebacks or provide payment options beyond credit cards.
      </p>
      <p>
        Technological advancements and growing e-commerce bring great opportunities for everyone. Unfortunately, new types of fraud, tighter compliance requirements and lack of infrastructure challenge lever-aging online businesses. 
      </p>
      <p>
        Our mission at <span class="NetoPayment">NetoPayment</span> is to create better ways to transfer money digitally and our experienced team can help you to navigate complex payment problems, ensure utmost security and compliance as well as deliver solutions that best fit your needs. 
      </p>
    </div></div>
  </div>
</div>
<div class="content_3">
  <div class="text">
    <div class="title">
      WHAT NETOPAYMENT OFFERS THAT NO ONE ELSE DOES
    </div>
    <hr>
    <div class="innertext">
      <span class="NetoPayment">NetoPayment</span> offers simple payment solutions for all types of businesses as well as high risk businesses with Dynamic payment pages which allows you to style the appearance of your own payment page as you like, Risk management engine to help you prevent and find pay-ment risks, Payment options that allow users to safely enter personal information, Low decline rates due to local payment methods, Specific market targeting con-versions with individual payment methods, Automatic fallback solutions if you have any failed transactions, Backup solutions if you have server problems, Fully-fledged anti-fraud suite as well as a 99% uptime guar-anteed. 
    </div>
  </div>
  <div class="boxContent">
    <div class="col">
      <div class="title">New Features and Payment Alternatives</div>
      <div class="content">Our platform is ready for the future! <span class="NetoPayment">NetoPayment</span> continually provide system updates, new features and payment methods as trends evolve.</div>
    </div>
    <div class="col">
      <div class="title">Special Requests</div>
      <div class="content">That's no problem as <span class="NetoPayment">Ne-toPayment</span>'s experienced platform gives us the flex-ibility to provide you with any customised solution.</div>
    </div>
    <div class="col">
      <div class="title">Fast Pay Gateway</div>
      <div class="content"><span class="NetoPayment">NetoPayment</span> is fully in-tegrated with a customis-able look and feel. A flexi-ble solution for any busi-ness that is looking to accept payments online.</div>
    </div>
    <div class="col">
      <div class="title">NetoPayment Industries</div>
      <div class="content"><span class="NetoPayment">NetoPayment</span> serves the Gaming, Sports, Retail, Social, Bitcoin and Forex industries.</div>
    </div>
  </div>
</div>